.addShow {
    float: right;
    margin-bottom: 16px !important;
}

.root {
    flex-grow: 1;
    margin-top: 80px;
}

.paper {
    padding: 8px;
    text-align: center;
}

.appBar {
    position: relative;
}

.title {
    margin-left: 8px;
    flex: 1;
}

.appBar {
    margin-bottom: 36px;
}