.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper.active {
    border: 1px blue solid;
    border-radius: 4px;
  }
  .menu-item.active {
    border: 1px green solid;
  }

  .menu-item-wrapper {
    margin-right: 8px;
    margin-top: 8px;
  }
   
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }

  .outer {
    text-align: center;
    width: 100%;
  }

  .inner {
    float: left;
    margin-bottom: 16px !important;
  }

  .inner-right {
    float: right;    
  }
  
  .pad {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .margin-bottom {
    margin-bottom: 16px;
  }

  .margin-top {
    margin-top: 16px
  }

  .slim-margin-bottom {
    margin-bottom: 8px;
  }
